.c-app {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  * {
    margin: 0 0.25em;
  }

  &__button {
    background-color: rgba(0, 0, 0, .12);
    color: rgba(255, 255, 255, 0.701961);
  }
}
