.c-card {
  background-color: #ffffff;
  list-style: none;
  border-radius: 5px;
  margin: 0.25rem 0.5rem;
  padding: 0.5rem;
  width: 275px;
  box-shadow: 2px 5px 5px #ccc;

  &__title {
    color: #4d4d4d;
    font-size: 1.5rem;
    word-wrap: break-word;
  }
}

.c-new-card {
  &__input {
    width: 280px;
  }
}