.c-new-list,
.c-list {
  width: 315px;
  background-color: #e2e4e6;
  border-radius: 5px;
  padding: 1rem 0 0 0;
}

.c-list {
  ul {
    padding: 0;
  }

  &__title {
    color: #4d4d4d;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 1rem;
  }

  &__button {
    background-color: #e2e4e6;
    color: #8c8c8c;
    margin: 0;
    width: 100%;

    &:hover {
      background-color: #cdd2d4;
    }
  }

  &__change_button {
    background: none;
    float: right;
    position: relative;
    top: -15px;

    &:after {
      content: '\2026';
      font-size: 20px;
    }
  }
}

.c-new-list {

}